---
import Layout from '../layouts/Layout.astro';
---


<Layout title="About">

	<div class="top-wrap uk-position-relative uk-light uk-background-secondary">
<!-- TOP CONTAINER -->
		<div class="uk-cover-container uk-dark uk-flex uk-flex-middle top-wrap-height" style="height: 30vh;">
			<div class="uk-container uk-flex-auto top-container uk-position-relative " data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
				<div class="tt-norms" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
					<h1 class="uk-text-primary uk-margin-small-bottom tt-norms-bold" style="font-size: 70px;">About Me.</h1>
					<h3 class="uk-margin-remove-top tt-norms"> A technical documentation of Kyle</h3> <br>
				</div>
			</div>
			<!-- TOP IMAGE -->
			<!-- <img src="" alt="" style="z-index: -1;" data-uk-cover data-uk-img data-uk-parallax="opacity: 1,0.1; easing:0"> -->
			<!-- /TOP IMAGE -->
			
		</div>
		<div class="uk-section uk-section-secondary uk-padding-remove-top">
			<div class="uk-container tt-norms uk-position-relative">
				<h3 class="tt-norms-bold" style="font-size: 24px;"> Belize</h3>
					<div class="uk-child-width-1-2@m" uk-grid>
						<div>
							<p>I'm from <strong><a href="https://www.travelbelize.org/">Belize</a></strong>, a country located in the Caribbean. English is the official language of Belize, but most of the population also speaks <strong><a href="https://www.belizeadventure.ca/belizean-creole-kriol/">Creole</a></strong>, and many Belizeans are multilingual.</p>						
						</div>
						<div class="uk-position-right" style="padding-left: 100px;">
							<img src="/public/assets/kyle-headshot.png" width="150px" style="border-radius: 50%;" alt="">
						</div>
					</div>
				<h3 class="tt-norms-bold" style="font-size: 24px;"> Software Development</h3>	
				<p> I am continuously learning about software development processes, practices, and tools. These include software project management using agile processes, architectural level design, deployment and operations, and testing.
					My experience as a programmer allows me to come up with intelligent solutions to technical challenges. Aside from having extensive knowledge of recognized technical standards, I am conversant with modern design styles.</p>
				<h3 class="tt-norms-bold" style="font-size: 24px;"> Engineering</h3>
				<p>I enjoy engineering. Engineering allows me to think creatively, push the boundaries of applied science and solve technical problems that enable the construction of virtual or physical projects. More importantly, I am able to create things that really matter and make the world a better place in which to live.</p>
				<h3 class="tt-norms-bold" style="font-size: 24px;"> Design</h3>
				<p>Although I am not the typical designer, I do possess excellent visual abilities, and this makes me an excellent presenter, allowing me to successfully communicate design ideas to stakeholders and design teams. With my strong conceptualization ability, I am able to visualize and create beautiful works.</p>
				<!-- <h3 class="tt-norms-bold" style="font-size: 24px;"> Photography</h3>
				<p></p> -->
				<h3 class="tt-norms-bold" style="font-size: 24px;"> Videography</h3>
				<p>I started videography at the age of 16 through vlogging and creating montages. Since then, I have grown my filmmaking and editing skills and now utilise them for my professional career.
					One of the most important things I have learned from filmmaking is how to understand audiences. Different people will always have their own interests and choices of entertainment. 
					However, understanding my target audience allows me to better capture their attention and provide a story that I know they will love .
				</p>
				<!-- <strong><a href="https://www.youtube.com/channel/UCMOfzujprK18C6ely3E1ndw">Checkout my Youtube Channel.</a></strong> -->
					
				<h3 class="tt-norms-bold" style="font-size: 24px;"> Lastly</h3>
				<p>I am easily excitable, always optimistic, and always eager to plan a fun event.  
					I love adventure and spontaneity just as much as I love routine and sitting down on sundays to plan my week with a calendar and a good cup of coffee.</p>

				<h3 class="tt-norms-bold" style="font-size: 24px;"> My Grind-Mode Playlist</h3>
				<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2i2dn2XBEL7hSoq1YJSfur?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


			</div>

			<div class=" uk-position-medium uk-position-z-index uk-text-center">
				<a data-uk-icon="icon: arrow-right; ratio: 2" style="font-size: 18px; margin-top:4rem;" href="./projects.html"> Checkout my projects</a>
			</div>
		</div>
	
	</div>
</Layout>