---
import Layout from '../layouts/Layout.astro';
---

<Layout title="index">
	<div class="top-wrap uk-position-relative uk-light uk-background-secondary">
		<!-- TOP CONTAINER -->
		<div class="uk-cover-container uk-dark uk-flex uk-flex-middle top-wrap-height" style="margin-top: 3rem; margin-bottom: 2rem;">
			<div class="uk-container uk-flex-auto top-container uk-position-relative " data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
				<div class="tt-norms" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
					<h1 class="uk-text-primary uk-margin-small-bottom tt-norms-bold" style="font-size: 70px;">Hi, I'm Kyle Shal 👋</h1>
					<h3 class="uk-margin-remove-top tt-norms">A Computer Engineering Student 💻</h3> <br>
				</div>
			</div>
			<!-- TOP IMAGE -->
			<!-- <img src="" alt="" style="z-index: -1;" data-uk-cover data-uk-img data-uk-parallax="opacity: 1,0.1; easing:0"> -->
			<!-- /TOP IMAGE -->
			
		</div>
		<div class="uk-container uk-flex-auto top-container uk-position-relative" >
			<div class="tt-norms">
				<div style="font-size: 18px;">
					<p>I'm currently being a student in term 6 of Undergrad Computer Engineering working on some cool software and hardware architecture courses.</p>
						<p>Previously I've worked for <strong><a href="https://www.mun.ca/">Memorial University of Newfoundland</a></strong>, and <strong><a href="https://c-core.ca/">C-CORE</a></strong>, as a web and software developer.</p>
						<p>I'm also working with my hands on continuously learning about software development in multiple domains. View my <a href="/projects" title="" class="uk-button uk-button-primary uk-border-pill" data-uk-scrollspy-class="uk-animation-fade" target="_self">Projects</a>, 
						<a href="/resume" title="" class="uk-button uk-button-primary uk-border-pill" data-uk-scrollspy-class="uk-animation-fade"  target="_self">Resume</a> or more  
						<a href="/about" title="" class="uk-button uk-button-primary uk-border-pill" data-uk-scrollspy-class="uk-animation-fade" target="_self">About Me</a>.  
						</p>
				</div>
				<div class=" uk-position-medium uk-position-z-index uk-text-center">
					<a data-uk-icon="icon: arrow-right; ratio: 2" style="font-size: 18px; margin-top:4rem; margin-bottom: 3rem;" href="/about"> See more about me</a>
				</div>
			</div>
		</div>
	</div>
</Layout>