---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Photos">
		<div class="uk-section uk-section-secondary uk-light uk-padding-remove-bottom" >
			<div class="uk-container" data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
				<div class="tt-norms" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
					<h1 class="uk-text-primary uk-margin-small-bottom tt-norms-bold" style="font-size: 70px;">Photos 📷</h1>
					<h3 class="uk-margin-remove-top tt-norms">Navigate the maps below to see some of the places I've been!</h3> <br>
				</div>
			</div>
		</div>
		<div class="uk-section uk-section-secondary uk-padding-remove-top uk-padding-remove-bottom">
			<div class="uk-container tt-norms" >
				<div style="font-size: 18px;">
					<div>
						<p> <div uk-spinner></div> <strong>🚧 WIP: </strong>In addition to the various places I've travelled, the goal is to host more images including a gallery of hiking, landscape photography, cool architecture and even what my home looks like. I also have much more photos to geotag!</p>
					</div>
				</div>
				<!-- arrow here -->
			</div>
		</div>
		<section class="uk-section uk-section-secondary uk-light">
			<div class="uk-container">
				<h1 class="uk-text-center tt-norms-bold" style="font-size: 30px;">Places I've Been!</h1>
				<div class="uk-section uk-section-small uk-padding-remove-top">
					<ul class="uk-subnav uk-subnav-pill uk-flex uk-flex-center " data-uk-switcher="connect: .uk-switcher; animation: uk-animation-fade">
						<li><a class="uk-border-pill" href="#">Newfoundland</a></li>
						<li><a class="uk-border-pill" href="#">Ontario</a></li>
						<!-- <li><a class="uk-border-pill" href="#">Mexico</a></li> -->
						<li><a class="uk-border-pill" href="#">Belize</a></li>
					</ul>
				</div>

				<ul class="uk-switcher uk-margin tt-norms">
					<li>
						<div class="uk-grid uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
							<div class="uk-width-2-3@m">
								<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1rapJXZUyP6IMCnubP-ywiU8SaSojaxw&ehbc=2E312F" width="100%" height="480"></iframe>
							</div>
							<div class="uk-width-1-3@m" data-uk-scrollspy-class="uk-animation-slide-right-medium">
								<h2 class="uk-margin-small-top">NEWFOUNDLAND</h2>
								<p class="subtitle-text">
									I love Newfoundland! I came here in 2019 to start my Computer Engineering journey at the Memorial University of Newfoundland. I have been living here since :)</p>
								<div class="">
									<div>
										<h4>The People</h4>
										<p>This province hosts some of the friendliest people I have ever met. It is filled with locals as well as travellers from various parts of the world.</p>
									</div>
									<div>
										<h4>Fun Facts</h4>
										<p>Newfoundland and Labrador form the most easterly province of Canada, and hosts the easternmost point of North America.										</p>
										<p>The RMS Titanic, on its maiden voyage, struck an iceberg about 600 kilometres off the coast of Newfoundland.</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="uk-grid uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
							<div class="uk-width-2-3@m">
								<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1x04fGOCcTqXDGUuKWOQt2aWd3Wj6ULw&ehbc=2E312F" width="100%" height="480"></iframe>
							</div>
							<div class="uk-width-1-3@m" data-uk-scrollspy-class="uk-animation-slide-right-medium">
								<h2 class="uk-margin-small-top">ONTARIO</h2>
								<p class="subtitle-text">
									The city of Toronto is and overflowing with life and is my favorite city in Ontario! My first time in Toronto was after I had a 3-day road trip from Newfoundland.</p>
								<div>
									<div>
										<h4>Cities I've Visited</h4>
										<p>Some of the cities in Ontario that I've seen include Toronto, Ottawa, Mississauga, Kitchener, Cornwall and, of course, Niagara Falls.</p>
									</div>
									<div>
										<h4>Fun Fact</h4>
										<p>The CN Tower in Toronto, Canada, is North America's tallest free-standing structure and was once the tallest in the world.</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- <li>
						<div class="uk-grid uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
							<div class="uk-width-2-3@m">
								<iframe src="https://www.google.com/maps/d/u/0/embed?mid=13Z8p0j097DXq_psxl3uFknwz2mnJj8Y&ehbc=2E312F" width="100%" height="480"></iframe>
							</div>
							<div class="uk-width-1-3@m" data-uk-scrollspy-class="uk-animation-slide-right-medium">
								<h2 class="uk-margin-small-top">MEXICO</h2>
								<p class="subtitle-text">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
								<div>
									<div>
										<h4>A Part Of My Culture</h4>
										<p>Quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?  <a href="#" target="_blank">Learn more.</a></p>
									</div>
									<div>
										<h4>Fun Facts</h4>
										<p>Vector data in plain text, useable directly over the web or locally. <a href="#">Learn more.</a></p>
									</div>
								</div>
							</div>
						</div>
					</li> -->
					<li>
						<div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
							<div class="uk-width-2-3@m">
								<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1bvPedK0_bAxU3jER2oyVSDOpa8leSZ0&ehbc=2E312F" width="100%" height="480"></iframe>							
							</div>
							<div class="uk-width-1-3@m" data-uk-scrollspy-class="uk-animation-slide-right-medium">
								<h2 class="uk-margin-small-top">BELIZE</h2>
								<p class="subtitle-text">
									This is my home country!</p>
								<div>
									<div>
										<h4>My Home!</h4>
										<p>Land of the sand and sea, and the coconut trees!</p>
									</div>
									<div>
										<h4>Fun Facts</h4>
										Apart from being my home, Belize is home to the second largest barrier reef in the world!</p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class=" uk-position-medium uk-position-z-index uk-text-center">
					<a data-uk-icon="icon: arrow-right; ratio: 2" style="font-size: 18px; margin-top:4rem; margin-bottom: 3rem;" href="/"> Go back home</a>
				</div>
			</div>
		</section>
		
</Layout>
