---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Resume">

	<div class="top-wrap uk-position-relative uk-light uk-background-secondary">
		<!-- TOP CONTAINER -->
		<div class="uk-cover-container uk-dark uk-flex uk-flex-middle top-wrap-height" style="height: 30vh;">
			<div class="uk-container uk-flex-auto top-container uk-position-relative " data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
				<div class="tt-norms" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
					<h1 class="uk-text-primary uk-margin-small-bottom tt-norms-bold" style="font-size: 70px;">My Resumé.</h1>
					<h3 class="uk-margin-remove-top tt-norms">Reach out to me via my contact methods . <strong><a href="./assets/resume-kyle-shal.pdf">View</a></strong>, or <strong><a href="./assets/resume-kyle-shal.pdf">download</a></strong> the resume.</h3> <br>
                </div>
			</div>
			<!-- TOP IMAGE -->
			<!-- <img src="" alt="" style="z-index: -1;" data-uk-cover data-uk-img data-uk-parallax="opacity: 1,0.1; easing:0"> -->
			<!-- /TOP IMAGE -->
			
		</div>
        <div class="uk-container uk-flex-auto top-container uk-position-relative" >
            <div class="tt-norms">
                <div style="font-size: 18px;">
                    <img src="/assets/resume.png" alt="">
                </div>
                <div class="uk-position-medium uk-position-z-index uk-text-center">
					<a data-uk-icon="icon: arrow-right; ratio: 2" style="font-size: 18px; margin-top:4rem;" href="./photos.html"> Checkout my photos</a>
				</div>
            </div>
        </div>
	</div>
</Layout>
