---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume">
	<!-- TOP CONTAINER -->
	<div class="uk-section uk-section-secondary uk-light">
		<div
			class="uk-container"
			data-uk-parallax="y: 0,50; easing:0; opacity:0.2"
		>
			<div
				class="tt-norms"
				data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150"
			>
				<h1
					class="uk-text-primary uk-margin-small-bottom tt-norms-bold"
					style="font-size: 70px;"
				>
					My Resumé.
				</h1>
				<h3 class="uk-margin-remove-top tt-norms">
					Reach out to me via my contact methods . <strong
						><a href="/assets/resume-kyle-shal.pdf">View</a>
					</strong>, or <strong
						><a href="/assets/resume-kyle-shal.pdf">download</a>
					</strong> the resume.
				</h3>
				<br />
			</div>
		</div>
	</div>
	<div class="uk-section uk-section-secondary uk-light uk-padding-remove-top">
		<div class="uk-container uk-text-center tt-norms">
			<div style="font-size: 18px;">
				<img src="/assets/resume.png" alt="" />
			</div>
			<div class="uk-position-medium uk-position-z-index uk-text-center">
				<a
					data-uk-icon="icon: arrow-right; ratio: 2"
					style="font-size: 18px; margin-top:4rem;"
					href="/photos"
				>
					Checkout my photos</a
				>
			</div>
		</div>
	</div>
</Layout>
